__pycache__
hf-checkpoints/
vis_denoise/
vis-*/
mmseg/work_dirs/
wandb
vis_videos
vis_denoise*
mode-switching_*.csv
zero_shot_*.csv
zero-shot_*.csv
examples/cache
examples/finetune_sd/cache
examples/finetune_sd/output
examples/finetune_sd/inference_outputs
examples/finetune_sd/debug_inference_outputs
examples/.ipynb_checkpoints
samples/
